<h1>Welcome to the Dark Ages of Twitterdom aka My attempt at Twitter Cloning!</h1>

<% if !logged_in? %>
	<div>
		<a href="/signup">Register</a>
		<a href="/sessions/new">Sign in</a>
	</div>
<% end%>

<% if logged_in? %>
	<div>
		<a href="/twits/new">Make a new twit</a>
	</div>

	<form method="post" action="/sessions/delete">
	    <input type=submit value="Log Me Out">
	</form>
<% end%>