<h2>Are you sure you want to delete this twit?</h2>

 <p>Twit ID: <%=  "#{params['id']}" %></p>
 <p>Author ID: <%=  "#{@twit.user_id}" %></p>
 <p>Twit Content: <%=  "#{@twit.content}" %></p>

<form action="/twits/<%= @twit.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>